<!-- <p>
  quotes-form works!
</p> -->

<div class="container-fluid">
  <div id="jumbotron">
    <form (ngSubmit)='submitQuotes()' #quotesForm='ngForm'>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuotes.name" name="name" #name="ngModel" required>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">


        </div>
      </div>

      <!-- Quotes Input -->
      <div class="form-group">
        <label for="quotes">Quotes</label>
        <textarea class="form-control" id="quotes" rows="4" [(ngModel)]="newQuotes.quotes" name="Quotes" #quotes="ngModel" required></textarea>
        <!-- <div [hidden]="description.valid || description.pristine" class="alert alert-danger"> -->

        <!-- </div> -->

      </div>
      <!-- Date Input -->
      <!-- <div class="form-group">
        <label for="complete">Date</label>
        <input type='date' id="complete" [(ngModel)]="newQuotes.completeDate" name="completeDate" #completeDate="ngModel" required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">

        </div>
      </div> -->
      <button type="Submit" class="btn btn-success btn-lg">Add Quotes</button>
    </form>
  </div>
</div>
